h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.063rem;
  font-weight: 400;
  color: #F39C12;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.188rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0.571em;
  margin-bottom: 0.857em;
  background: #202020;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 1.333em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 1.250em 0;
  background: #202020;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.333em;
  color: #FFFFFF;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.500em;
  color: #FFFFFF;
}

h1 + h2 {
  background: none;
}

a:hover, a:focus {
  text-decoration: none;
}

html, body {
  position: relative;
  /*to enable scroll-spy*/
  overflow-x: hidden;
  background: #202020;
  font-size: 15px;
}

@media (min-width: 992px) {
  html, body {
    font-size: 16px;
  }
}

main {
  background: url("/images/bgd-tex.png") top left repeat, #2a2a2a;
}

.navbar {
  border-radius: 0;
  border: none;
}

.navbar.navbar-inverse {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  font-family: "Yellowtail", cursive;
  font-size: 42px;
  color: #F39C12;
  padding-top: 10px;
}

.navbar .navbar-nav > li > a {
  font-family: "Oswald", sans-serif;
  font-size: 0.938rem;
  color: #FFFFFF;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  color: #F39C12;
}

.projects {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects .project {
  position: relative;
  display: block;
  width: 230px;
  height: 230px;
  margin-top: 20px;
}

.projects .project .overflow {
  position: absolute;
  background: rgba(243, 156, 18, 0.6);
  width: 100%;
  height: 100%;
  text-align: center;
}

.projects .project .overflow h4 {
  margin-top: 35%;
  font-size: 1.250rem;
}

@media (min-width: 769px) {
  .projects .project .overflow {
    opacity: 0;
  }
  .projects .project .overflow:hover {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in 0s;
    transition: opacity 0.4s ease-in 0s;
  }
}

.about .author {
  padding-bottom: 20px;
}

.about p {
  font-family: "Oswald", sans-serif;
}

.about .yellow {
  color: #F39C12;
}

.about span {
  font-family: "Oswald", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.about li > span {
  padding-left: 20px;
}

.about .upwork {
  padding-top: 20px;
}

.about .upwork a {
  font-size: 2.3rem;
}

.contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  font-family: "Open Sans", sans-serif;
  color: #848484;
}

form .form-control {
  color: #848484;
  background: #202020;
  border-radius: 0;
  border: none;
}

form textarea {
  width: 100%;
  height: 170px;
  background: #202020;
  border-radius: 0;
  border: none;
  color: #848484;
}

form .fa {
  color: #848484;
}

form .input {
  background: #202020;
  border-radius: 0;
  border: none;
}

footer {
  padding: 20px 0;
}

.well {
  background: #202020;
  color: #202020;
  border: none;
  height: 44px;
  padding: 0;
}

.well .bar {
  background: #F39C12;
  height: 100%;
  border-radius: 3px;
  padding: 12px;
}

.well .bar#html {
  width: 90%;
}

.well .bar#css {
  width: 85%;
}

.well .bar#js {
  width: 70%;
}

.well .bar#rwd {
  width: 83%;
}

.well .bar#ps {
  width: 78%;
}

.well .bar#php {
  width: 73%;
}

.well .bar#sql {
  width: 60%;
}

.btn.btn-default {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #202020;
  border-radius: 0;
  height: 3.000em;
  width: 9.143em;
  border: none;
  padding: 0.857em;
}

.btn.btn-default.yellow {
  background: #F39C12;
}

.btn.btn-default.yellow:hover {
  color: #202020;
  background: #be780a;
}

.btn.btn-default.yellow:active {
  color: #202020;
  background: #976008;
}

.modal-content {
  background: #2A2A2A;
}

.modal-content .modal-header {
  border-color: #3B3B3B;
}

.modal-content .modal-header button.close {
  color: #848484;
}

.modal-content .modal-body {
  color: #848484;
}

.modal-content .modal-body p, .modal-content .modal-body ol {
  padding-top: 10px;
}

.modal-content .modal-footer {
  border-color: #3B3B3B;
}
